<div class="row page-header">
  <div class="col-lg-12">
    <h1>Starcups</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--Rating-->
        <p class="rating">
          {{#each location.rating as |item index|}}
            {{#if item}}
              <span class="glyphicon glyphicon-star"></span>
            {{else}}
              <span class="glyphicon glyphicon-star-empty"></span>
            {{/if}}
          {{/each}}
        </p>

        <!--Address-->
        <p>{{location.address}}</p>

        <!--Opening Hours-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Opening hours</h2>
          </div>
          <div class="panel-body">
            {{#each location.openingTimes as |item index|}}
              {{#if item.closed}}
                <p>{{item.days}} : closed</p>
              {{else}}
                <p>{{item.days}} : {{item.opening}} - {{item.closing}}</p>
              {{/if}}
            {{/each}}
          </div>
        </div>

        <!--Facilities-->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Facilities</h2>
          </div>
          <div class="panel-body">
            {{#each location.facilities as |item index|}}
              <span class="label label-warning">
              <span class="glyphicon glyphicon-ok"></span>&nbsp;{{item}}</span>&nbsp;
            {{/each}}
          </div>
        </div>
      </div>

      <!--Location map-->
      {{location.coords.lng}}  {{location.coords.lat}}
      <div class="col-xs-12 col-sm-6 location-map">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Location map</h2>
          </div>
          <div class="panel-body">
            <img class="img-responsive img-rounded"
                 src="http://maps.googleapis.com/maps/api/staticmap?center={{location.coords.lat}}, {{location.coords.lng}}&amp;
                 zoom=17&amp;size=400x350&amp;sensor=false&amp;markers={{location.coords.lat}},{{location.coords.lng}}&amp;scale=2"/>
          </div>
        </div>
      </div>
    </div>

    <!--Customer Review-->
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary review-panel">
          <div class="panel-heading"><a class="btn btn-default pull-right" href="/location/review/new">Add review</a>
            <h2 class="panel-title">Customer reviews</h2>
          </div>
          <div class="panel-body review-container">
            <!--Individual Review-->
            {{#each location.reviews as |review index|}}
                <div class="row">
                  <div class="review">
                    <div class="well well-sm review-header">
                      <span class="rating">
                        {{#each review.rating as |star index|}}
                          {{#if star}}
                            <span class="glyphicon glyphicon-star"></span>
                          {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                          {{/if}}
                        {{/each}}
                      </span>
                      <span class="reviewAuthor">{{review.author}}</span><small class="reviewTimestamp">{{review.timestamp}}</small>
                    </div>
                    <div class="col-xs-12">
                      <p>{{review.reviewText}}</p>
                    </div>
                  </div>
                </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <p class="lead">{{title}} {{sidebar.context}}
    </p>
    <p>{{sidebar.callToAction}}</p>
  </div>
</div>
